---
# in R:
# config::get() will retrieve the default info
# config::get(config="xxx") will retrieve xxx's info
default:
  db: "dbname"
  host: "127.0.0.1"
  port: 3306
  user: "username"
  password: "password"

mysql:
  db: "dbname"
  host: "127.0.0.1"
  port: 3306
  user: "username"
  password: "password"

kobo:
  user: "kobo_username"
  password: "kobo_password"
  building_form_demo_uid: "formuid"
  hh_form_demo_uid: "formuid"
  hh_form_uid: "formuid"